<%# NOTE: Disabling turbo so redirect chain executes properly %>
<%= form_with url: session_path, data: { turbo: false } do |form| %>
  <div class="mb-3">
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-control" %>
  </div>

  <%= form.submit "Sign in", class: "btn btn-primary rounded-pill w-100" %>
<% end %>
