<div id="<%= dom_id chirp %>">
  <p>
    <strong>User:</strong>
    <%= chirp.user.email_address %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= chirp.body %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= chirp.deleted_at %>
  </p>

</div>
