<div class="container">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Chirps" %>

  <h1 class="visually-hidden">Chirps</h1>

  <div class="border p-3">
    <%= render("form", chirp: Chirp.new) %>
  </div>

  <div id="chirps" class="border p-3">
    <% @chirps.each do |chirp| %>
      <%= render("card", chirp: chirp) %>
    <% end %>
  </div>

</div>
