<%= render @chirp %>

<%# TODO: form (reply) %>
<%= render "form", chirp: Chirp.new({ :in_reply_to_chirp_id => @chirp.id }) %>

<%# TODO: render reply chirps %>
<h2>Replies</h2>
<% @chirp.replies.includes(:user).each do |chirp| %>
  <div class="border">
    <%= render chirp %>
  </div>
<% end %>
