
<%= form_with model: like do |form| %>
  <%= form.hidden_field :chirp_id %>
  <div class="d-flex align-items-center">
    <%= form.button class: "btn btn-link p-0" do %>
      <i class="fa-regular fa-heart text-danger"></i>
    <% end %>
    <%= like.chirp.likes_count if like.chirp.likes_count.positive? %>
  </div>
<% end %>
