<div class="position-fixed top-0 start-50 translate-middle-x mt-3">
  <% if notice.present? %>
    <div class="alert alert-success alert-dismissible fade show shadow" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-warning alert-dismissible fade show shadow" role="alert">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
