<div class="position-sticky top-0 vh-100">
  <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary min-vh-100 border-end">
    <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none text-center" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only"> 
      <i class="fa-solid fa-kiwi-bird fa-xl"></i>
      <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">

      <li class="nav-item">
        <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
          <i class="fa-solid fa-house"></i>
        </a>
      </li> 
      <li>
        <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
          <i class="fa-solid fa-user"></i>
        </a>
      </li> 
    </ul>

    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://picsum.photos/seed/<%= Current.user.email_address %>/600/400" alt="avatar" width="24" height="24" class="rounded-circle">
      </a> 
    
      <ul class="dropdown-menu text-small shadow"> 
        <%# TODO: link to profile %>
        <li>
          <%= button_to "Sign Out", session_path, method: :delete, class: "dropdown-item", data: { turbo_method: :delete } %>
        </li> 
      </ul> 
    </div>
  </div>
</div>
