<div class="container my-5">

  <h1>Forgot your password?</h1>

  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

  <%= form_with url: passwords_path do |form| %>

    <div class="mb-3">
      <%= form.email_field :email_address, required: true, autofocus: true, class: "form-control", autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
    </div>

    <%= form.submit "Email reset instructions", class: "btn btn-primary rounded-pill w-100" %>
  <% end %>
</div>
